@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Raleway:300,400,700,800|Roboto:300,400i,500,700');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    color:#333;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
}

html, body {
    height: 100%;
}

a {
	text-decoration: none;
}
/*
h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}*/

.container {
    margin: auto;
    padding: 0 15px;
    width: 1100px;   
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100%;
    position: relative;
    width: 1440px;
}

.btn {
    background-color: #FB9475;
    border: none;
    color: #fff;
    outline: 0;
    padding: 15px;
    text-align: center;
}

.main {
    flex: 1;
    padding-bottom: 100px;
}

/*  ----- header -----  */

.header__hero {
    margin-bottom: 150px;
}

.header {
    background: #F8F6F7 url(../img/header_bg.png) 0 0 no-repeat;
    flex-shrink: 0;
    overflow: hidden;
}

.header .container {
    padding: 30px 0 0;
    position: relative;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.header__social {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    color: #333;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}

.navigation__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__list a:hover {
    color: #00BF78;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
    
}

.navigation__link {
    font-size: 14px;
    font-weight: 600;
    transition: 15s color;
}

.navigation__link:hover {
    color: #00BF78;
}

.phone-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    text-decoration: none;
}

.phone-info a,
.navigation a {
    color: #333;
}

.phone-info a {
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 4px;
}

.phone-info span {
    font-size: 11px;
    font-weight: 400;
    /*padding-top: 8px;*/
}

.hero {
    max-width: 540px;
    position: relative;
    z-index: 2;
}

.social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social li:not(:last-child) {
    margin-right: 10px;
}

.social_vertical {
    flex-direction: column;
}

.social_vertical li:not(:last-child) {
    margin-bottom: 10px;
}

.hero h1 {
    margin: 102px 0 17px;
    font-size: 48px;
    font-weight: 600;
    padding-left: 2px;
    line-height: 59px;
}

.hero p {
    margin: 17px 0 0;
    font-size: 20px;
    font-weight: 400;
}

.hero .btn {
    background-color: #FB9475;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 17px 30px;
    margin-top: 59px;
    border-radius: 24px;
    border: 0;
}

.social_vk,
.social_inst,
.social_yt {
    height: 28px;
    width: 28px;
}

.social li:not(:last-child) {
    padding-bottom: 16px;
}

.girl {
    width: 472px;
    height: 472px;
    border-radius: 50%;
    position: absolute;
    right: 93px;
    bottom: -220px;
    background-color: #FB9475;
    z-index: 2;
}

.girl figure {
    height: 510px;
    width: 524px;
    position: absolute;
    right: -29px;
    bottom: 50px;
    background: url(../img/girl.png) 0 0 no-repeat;
    z-index: 1;
}

/*  ----- main -----  */

.section {
    padding: 90px 165px;
}

.section__title {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.descr_info {
    margin: 32px 0 0;
}

.descr_text {
    float: left;
    width: 50%;
}

.descr_text h3 {
    display: float;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 32px;
}

.descr_text h5 {
    display: float;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
    line-height: 26px;
}



.spoiler {
    margin: 35px 35px 0;
}
summary {
  display: block;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
summary::-webkit-details-marker { /* для Chrome? и Safary */
  display: none;
}
summary:after {
  content: "Развернуть";
  display: block;
  padding: 0px 0 0 0;
  color: #278AFF;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: -20px;
  left: -35px;
}
details[open] summary::after {
  content: "Свернуть";
}
.spoiler_txt {
    margin: 0;
    padding: 0;
}

.video_presentation {
    float: right;
    height: 296px;
    width: 445px;
    background: url(../img/img_video.png) 0 0 no-repeat;
    position: relative;
	text-align: center;
    overflow: hidden;
    opacity: 1.5;
}

.video {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.video-presentation_btn-play {
	background: url(../img/icon-play.png) center center no-repeat;
	padding: 32px;
	position: absolute;
	z-index: 2;
    left: 50%;
    transform: translate(-50%);
	top: 100px;
	border: none;
	font-size: 0;
    cursor: pointer;
}

.video-presentation_btn-play:hover {
    transform: scale(1.1) translate(-45%);
    transition: 0.3s;
}

.video-presentation_title {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
    margin: 0 0px;
    position: absolute;
	z-index: 3;
    left: 50%;
    transform: translate(-50%);
	top: 170px;
	border: none;
    padding: 4px;
}

.adv {
    clear: both;
    display: flex;
    text-align: center;
    padding: 100px 0 10px;
}

.adv_figcap {
    padding-top: 56px;
}

.rooms, .cosmetics, .master {
    width: 350px;
    margin: 0;
    padding: 20px 20px 0 20px;
}

.rooms {
    background: url(../img/rooms.svg) center top no-repeat;
}

.cosmetics {
    background: url(../img/cosmetics.svg) center top no-repeat; 
}

.master {
    background: url(../img/master.svg) center top no-repeat; 
}

.adv_figcap-title {
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
}

.adv_figcap-txt {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 12px 0 0;
}

.popular {
    margin: 0 164px;
}

.popular h1 {
    font-size: 36px;
    margin: 0 0 35px;
}

.works {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.manicure, .gel, .brasilian, .pedicure, .paraffin {
    margin: 0 30px 48px 0;
    height: 340px;
    width: 340px;
    border-radius: 8px;
    background: url(../img/manicure.png) center top no-repeat; 
}

.works_figcap {
    padding: 200px 0  0;
}

.works_figcap-title {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 8px;
}

.works p {
    margin: 8px 0;
}

.works .btn {
    height: 34px;
    width: 112px;
    background-color:#FB9475;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 17px;
    margin-top: 16px;
    cursor: pointer;
}



/*  ----- prices -----  */

.price {
    margin: 0 165px;
}

.price p {
    display: inline-block;
    margin-right: 28px;
}




/*  ----- footer -----  */

footer {
    position: absolute;
    bottom: 0px;
    display: flex;  
    font-size: 12px;
    font-weight: 400;
    padding: 0px 165px;
    width: 1440px;
    justify-content: space-between;
}

.copy {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.copy a {
    text-decoration: underline;
    color: #278AFF;
    padding-top: 8px;
}

.footer_nav {
    margin-top: 32px;
}

.footer_nav li {
    display: inline;
}

.footer_nav li:not(:last-child) {
    margin-right: 28px;
}