html {
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    color: $gray;
    font-size: 16px;
    font-family: $font;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
}

html, body {
    height: 100%;
}

a {
	text-decoration: none;
}

img {
    border-radius: 8px;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    position: relative;
}

button,
summary {
    cursor: pointer;
}